# Python virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Test and coverage files
.coverage
.pytest_cache/
htmlcov/
reports/

# Environment files
.env

# IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db